@import "tokens.less";

.screen {
  width: 800px;
  height: 254px;
  background-color: @bg;
  position: relative;
}

.press:active {
  opacity: 0.7;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}
